.logo {
    height: 80px;
    width: 115px;
    margin-right: 18px;
}

.navbar-changes {
    background-color: rgb(255, 255, 255);
}

.sgec-logo {
    background-image: url("https://wallpapercave.com/wp/wp1915248.jpg");
    background-size: cover;
    width: 100px;
    height: 1500px;
}

.dabba{
    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 100px;
    margin-right: 1000px;
    background-color: rgb(255, 255, 255);
    height: 410px;
    box-shadow: 100px;
    width: 350px;
    padding: 20px;
    border-radius: 23px;
}


.images-sizes{
    height: 200px;
    width: 300px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.para-style{
    font-style:normal;
    font-weight:400;
}

.dabba-fac{
    height: 320px;
    width: 250px;
    background-color: rgb(217, 232, 239);
    border-radius: 15px;
    margin-left: 100px;
    padding: 10px;
}

.image-fac{
    height: 250px;
    width: 230px;
    padding: 10px;
    border-radius: 15px;
}

.dive-button{
    margin-top: 100px;
    margin-left: 850px;
    margin-bottom: 20px;
    height: 60px;
}

.footer{
    background-color: rgb(33, 41, 60);
    height: 340px;
}

.address{
    color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-top: 170px;
}



